{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Deploy{% endblock %}</h1>
{% endblock %}

{% block content %}
  <h1>Deploy</h1>
  <form method="post" id="deploy-form" action="/gen_bundle/">
    <label for="project-name">Project Name</label>
    <input name="project_name" id="project-name" required>
    <label for="gcp-project-id">GCP Project ID</label>
    <input name="gcp_project_id" id="gcp-project-id" required>
    <label for="gcp-region">GCP Region</label>
    <select name="gcp_region" id="gcp-region">
      <option value="northamerica-northeast2">Toronto (northamerica-northeast2)</option>
      <option value="northamerica-northeast1">Montreal (northamerica-northeast1)</option>
      <option value="us-east1">South Carolina (us-east1)</option>
      <option value="us-east4">Northern Virginia (us-east4)</option>
      <option value="us-east5">Columbus (us-east5)</option>
      <option value="us-central1">Iowa (us-central1)</option>
    </select>
    <label for="gcp-zone">GCP Zone</label>
    <input name="gcp_zone" id="gcp-zone" placeholder="northamerica-northeast2-a">
    <label for="compute_type">Compute Type</label>
    e2-micro, c3-standard-4, etc
    <select name="compute_type" id="compute-type">
      <option value="e2-micro">e2-micro (2 vCPUs, 1GB RAM, shared-core)</option>
      <option value="e2-small">e2-small (2 vCPUs, 2GB RAM, shared-core)</option>
      <option value="e2-medium">e2-medium (2 vCPUs, 4GB RAM, shared-core)</option>
    </select>
    <div class="form-checkbox">
        <input name="managed_db" id="managed-id" type="checkbox">
        <label for="managed_db">Managed Database</label>
    </div>
        This project needs a managed database (GCP SQL)
    <button type="submit" value="Submit" >Submit</button>
  </form>
{% endblock %}
